<?xml version="1.0" encoding="utf-8"?>
<SQLCONFIG>
  <SQLGRUPO nombre="LITERALES">
    <SQL nombre="porGRUPO">
      <SQLSTRING>
        <![CDATA[  SELECT     USysLiteEnGru.GruCod, USysLiteEnGru.LitID, USysLiterales.LitDes_C, USysLiterales.LitDes_E
        FROM         USysLiteEnGru INNER JOIN
        USysLiterales ON USysLiteEnGru.AppCod = USysLiterales.AppCod AND USysLiteEnGru.LitID = USysLiterales.LitID
				WHERE USysLiteEnGru.GruCod = @GruCod AND USysLiteEnGru.AppCod = @AppCod]]>
      </SQLSTRING>
      <PARAM nombre="@GruCod" valor="" tipo="system.String"></PARAM>
      <PARAM nombre="@AppCod" valor="" tipo="system.String"></PARAM>
    </SQL>    
  </SQLGRUPO>
	
</SQLCONFIG>
				