<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PRINCIPAL" value="HFSQLDE03"/>
    <add key="Appcod" value="ABE1001"/>
    <add key="cssMaster" value="3"/>
    <add key="Manual_ES" value="http://mobi.nekagip.eus/BehiKudeaketa/BehiKudeaketa_Manual.pdf"/>
    <add key="Manual_EU" value="http://mobi.nekagip.eus/BehiKudeaketa/BehiKudeaketa_Eskuliburua.pdf"/>
    <add key="entReport" value="2"/>
    <!--Servidor Real o Desarrollo (2005 -> 1  Desarrollo -  2  Real ;  2008 -> 3 Desarrollo - 4 Real)-->
    <!-- 2 primeras cambiadas para pruebas -->
    <add key="RSRLanzadera" value=""/>
    <add key="RSRFolder" value=""/>
    <add key="cssMaster" value="3"/>
    <add key="servidor" value="HAZI"/>
    <!-- MOBI:NEKAGIP:EUS -->
    <!-- PRUEBAS  -->
    <add key="UriWSNekagip" value="http://mobi.nekagip.eus/WSNekagip/serviciosNekagip.asmx"/>
    <add key="UserCredentialWSNekagip" value="Administrator"/>
    <add key="PassCredentialWSNekagip" value="Supervisor.2017"/>
    <add key="UsuWSNekagip" value="WS_NEK_APP"/>
    <add key="PassWSNekagip" value="18082016"/>
    <add key="UriWSGanaderia" value="http://localhost:63544/serviciosGanaderia.asmx"/>
    <add key="UserCredentialWSGanaderia" value="Administrator"/>
    <add key="PassCredentialWSGanaderia" value="Supervisor.2017"/>
    <add key="UsuWSGanaderia" value="WS_GES_BOV"/>
    <add key="PassWSGanaderia" value="18082016"/>
    <add key="UriWSGanaderiaR2" value="http://localhost:63544/serviciosGanaderia.asmx"/>
    <add key="UriWSModernizacionExterna" value="http://mobi.nekagip.eus/WSModernizacionExterna/serviciosModernizacion.asmx"/>
    <add key="UserCredentialWSModernizacionExterna" value="ws_moder"/>
    <add key="PassCredentialWSModernizacionExterna" value="290118"/>
    <add key="UsuWSModernizacionExterna" value="WS_GES_BOV"/>
    <add key="PassWSModernizacionExterna" value="18082016"/>
    <!-- para el controlar el parón de SITRAN DEL DIA 15/12/2018-->
    <add key="fechainiSINCOMUNICACION" value="15/12/2018 00:00:00"/>
    <add key="fechafinSINCOMUNICACION" value="15/12/2018 15:00:00"/>
    <!-- para el controlar el mensaje con información para el usuario sobre mantenimiento-->
    <add key="fechainiMENSAJE" value="07/05/2020 12:00:00"/>
    <add key="fechafinMENSAJE" value="08/05/2020 16:15:00"/>
    <add key="mensaje_c" value="El viernes 8 de mayo a partir de las 16.00 se van a realizar tareas de mantenimiento. El servicio no estará disponible temporalmente."/>
    <add key="mensaje_e" value="Maiatzak 8an, ostiralean, arratsaldeko 16:00etatik aurrera mantentze-lanak egingo dira. Hori dela eta, aldi batez zerbitzua ez da erabilgarri egongo"/>
    <!--PAra BehikudeaketaBeta, y asi arrancar con un dni fijo-->
    <add key="USUARIOPREFIJADO" value="true"/>
    <!--<add key="NIF" value="99999999R"/>
   <add key="NIF" value="72500083N"/>-->
  </appSettings>
  <connectionStrings/>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime executionTimeout="110" maxRequestLength="2097151" requestLengthDiskThreshold="256" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="90" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false"/>
    <trace enabled="true"/>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
    <authentication mode="Forms">
      <forms name="xxx" loginUrl="Default.aspx" defaultUrl="Vista/index.aspx" timeout="180" slidingExpiration="true" cookieless="AutoDetect" enableCrossAppRedirects="true"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <customErrors mode="Off"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="js;jscript;javascript" extension=".js" type="Microsoft.JScript.JScriptCodeProvider, Microsoft.JScript, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=edge"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <location path="recursos">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Vista/index.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Vista/img">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Vista/JS_CSS/imagenes/footerBkg.png">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Vista/upload.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Default.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
        <authenticationService enabled="true"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>