/***** estilos para la parte privada *******/

.user-panel {
  position: relative;
  width: 100%;
     padding: 10px 10px;
  overflow: hidden;
background: rgb(193,193,193); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(193,193,193,1) 0%, rgba(153,153,153,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(193,193,193,1) 0%,rgba(153,153,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(193,193,193,1) 0%,rgba(153,153,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1c1c1', endColorstr='#999999',GradientType=1 ); /* IE6-9 */

}

.user-panel .text-success {
    color: #0cff91;
}

.cabecera_privada {
  background: #0cff91;
  height: 60px;
  clear: both;
  margin: 0px;
}

.main-header {
  background: url(../img/fondo_cabecera.png) repeat-x left bottom #191919;
  height: 58px!important;
  min-height: 58px!important;
  padding-top: 10px;
}

.main-sidebar {
  top: 118px;
}

.main-header .sidebar-toggle {
  float: left;
  background-color: transparent;
  background-image: none;
  padding: 5px 0px;
  font-family: fontAwesome;
}

.main-header .logo {
  height: auto;
  width: 215px;
  text-align: left;
}

.main-header .logo img {
  height: 45px;
  margin-top: -7px;
}

.sidebar-menu .treeview-menu > li > a {
  color: #333;
      transition:.3s ease;
}

.sidebar-menu .treeview-menu > li.active > a {
    background-color: #d2d2d2;
    font-weight: bold;
    border-radius: 5px 0 0 5px;

}

    .sidebar-menu .treeview-menu > li > a:hover {
        transform: translateX(10px);
    }

    .sidebar-menu .treeview-menu > li.active > a:hover {
        transform: translateX(0px);
    }

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
  width: 200px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
  top: 22px !important;
  left: 225px !important;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span {
  margin-left: 0;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
  margin-top: 35px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu > li > a {
  color: #fff;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu > li.active > a {
  color: #0cff91;
  background-color: transparent;
}

.user-panel {
    padding: 8px 8px;
    min-height: 72px;
}

.user-panel > .image > img {
    width: auto;
    margin-left: 5px;
    margin-top: 9px;
}

        

.sidebar-collapse .user-panel > .image > img {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
}
        

.user-panel > .info {

    position: static;

}

        

.user-panel > .info > p {
    white-space: nowrap;
    padding-left: 20px;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 190px;
    margin-top: 5px;
}

        

.user-panel > .info
 > a {
    padding-left: 12px;
    color: #FFF;
    margin-left: 8px;
	text-decoration: none!important;
}


.user-panel > .info
 > a:hover{color: #000!important;}
.tamanoLetra18
{
    font-size:18px;
}



.main-header .navbar-custom-menu {
  margin-top: 0px;
}

.main-header .logo {
  line-height: 48px;
}

.hpriv {
  text-transform: uppercase;
  font-size: 12px;
  margin: 0;
  font-weight: bolder;
  margin-left: 56px;
  margin-top: 14px;
}

.htit {
  font-weight: bold;
  font-size: 20px;
  margin-left: 55px;
}

.area_privada {
  float: left;
  min-width: 255px;
}

.area_privada .fa-lock {
  font-size: 24px;
  position: absolute;
  top: 18px;
  left: 38px;
}

.area_privada .fa-truck {
  font-size: 40px;
  position: absolute;
  top: 10px;
  left: 15px;
}

.ficha {
  background: url(../img/exp_tab.png) no-repeat;
  margin-top: 8px;
  min-width: 268px;
  max-width: 270px;
  float: right;
}

.ficha > p {
  margin-left: 40px;
  font-weight: bold;
  margin-top: 8px;
}

.cambiar {
  float: right;
  width: 160px;
}

.cambiar button {
  background: url(../img/exp_chan.png) left center no-repeat;
  border: none;
  text-align: left;
  padding-left: 31px;
  line-height: 15px;
  margin-top: 14px;
}

.cabecera_mov {
  margin-left: 20px;
}

.alta h2 {
  font-family: ralewayextrabold, arial, sans-serif;
  font-weight: normal;
  font-size: 22px;
  border-bottom: solid 1px #000;
  padding-bottom: 10px;
}

.alta h3 {
  font-family: raleway, arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}


/*--- Formularios ---*/


/* pasos */

ul.pasos {
  padding-left: 25px;
}

ul.pasos li {
  color: #8a8a8a;
  display: inline-block;
  border: solid 1px #e9e9e9;
  border-left: solid 8px #e9e9e9;
  padding: 10px 20px;
  font-size: 16px;
  position: relative;
  width: calc(33.33% - 37.66px);
}

ul.pasos li.activo {
  background: #f3f3f3 url(../img/icon-check.png) no-repeat 95% center;
  border-left-color: #0cff91;
}

ul.pasos li.activo span {
  color: #000;
}

ul.pasos li + li {
  margin-left: 40px;
}

ul.pasos li + li:before {
  font-family: fontAwesome;
  content: "\f04b";
  color: #e9e9e9;
  font-size: 20px;
  position: absolute;
  left: -35px;
  top: 20px;
}

#busqueda_avanzada {
    background: #fff;
    padding-top: 12px;
    margin-bottom: 12px;
}

ul.pasos li span {
  color: #8f8f8f;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  margin-top: 5px;
}

ul.pasos li span.pasos_total {
  display: none;
}

.form-inline .form-group {
  margin-bottom: 15px;
}

.form-inline .form-group label {
  width: 180px;
  font-family: ralewayextrabold, arial, sans-serif;
  font-weight: normal;
}

.form-inline .form-group label.notificacion {
  width: auto;
  margin-right: 10px;
}
.form-inline input[readonly] {
  border: none;
  background: transparent;
  color: #999;
  vertical-align: baseline;
}

button {
  font-family: raleway, arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  background: #0cff91;
  color: #000;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  padding: 5px 30px 5px 10px;
}

button i {
  margin-right: 10px;
}

.botonera {
  overflow: hidden;
  padding: 0 25px;
}

.botonera input,
.botonera button,
.botonera a {
  text-align: center;
  font-family: ralewayextrabold, arial, sans-serif;
  font-size: 14px;
  background: #0cff91;
  color: #000;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  width: 250px;
  padding: 5px 0;
}


.btn-formu {
  background: #0dff9b;
  padding: 8px 16px 8px 16px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: none;
  border: none;
  font-size: 13px;
  box-shadow: none;
}

.doble input, .doble button {
  margin: 0px 5px 0px 0;
}

.buscar {
    font-size: 12px !important;
    padding: 7px 15px 6px 15px;
}
.form-control {
  border-radius: 3px;
  font-family: raleway, verdana, sans-serif;
  font-weight: bold;
}

.fila-inline .form-group label {
  width: 80px;
}

.fila-inline .form-group input {
  margin-right: 30px;
}

dl.lista_resumen {
  float: left;
  width: 100%;
  margin-top: 10px;
}

.lista_resumen dt {
  font-family: raleway, verdana, sans-serif;
  float: left;
  width: 20%;
  margin-bottom: 10px;
}

.lista_resumen dd {
  font-family: raleway, verdana, sans-serif;
  float: left;
  width: 30%;
  margin-bottom: 10px;
}

.lista_resumen {
  padding-left: 30px;
}

.lista_resumen li {
  font-family: raleway, verdana, sans-serif;
  display: inline-block;
  font-weight: bold;
  list-style: none;
  margin-right: 10px;
  margin-bottom: 10px;
}

a.cancelar {
  clear: left;
  background-color: rgb(144, 144, 144);
  margin-top: 10px;
  color: white;
}

a.finalizar {
  background: url(../img/salir.png) no-repeat 20px center #0cff91;
  color: #000;
}

.invoice.centrar {
  text-align: center;
}

.texto1 {
  font-family: ralewayextrabold, arial, sans-serif;
  color: #9c9c9c;
  font-size: 22px;
}

.texto2 {
  font-family: ralewayextrabold, arial, sans-serif;
  font-size: 24px;
}

.texto3 {
  font-family: ralewayextrabold, arial, sans-serif;
  color: #000;
  font-size: 22px;
}

.texto4 {
  font-family: ralewayextrabold, arial, sans-serif;
  font-size: 24px;
}
.alta .btn-default {
  border-radius: 3px;
  margin-left: 0;
}

.btn-default.yellow {
  background-color: #FFC80A;
}

.btn-default.blue {
  background-color: #69DAFF;
}

.content-header h1 {margin-top:6px}

.content-header p {
    font-size: 14px;
    color: #666666;
    border-bottom: none;
    padding-bottom: 0px;
        margin-top: 4px;
    margin-bottom: 0px;
}

button.imprimir {
  text-transform: uppercase;
  margin: 0;
  padding: 15px 10px 15px 80px;
  text-align: left;
  border-radius: 0;
  margin-top: 20px;
  background: url(../img/imprimir.png) no-repeat 18px center #0cff91;
  width: 285px;
  margin-right: 5px;
  margin-left: 5px;
  background-size: 36px;
}

button.icono {
  margin: 0;
  border-radius: 3px;
  font-size: 10px;
  text-transform: uppercase;
  margin: 5px;
}

button.icono.texto {
  padding: 5px 10px;
}

button.icono i.fa {
  margin: 0;
  font-size: 14px;
}

button.icono.texto i {
  display: block;
}

dl.lista_datos {
  float: left;
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.lista_datos dt {
  font-family: raleway, verdana, sans-serif;
  float: left;
  width: 20%;
  margin-bottom: 10px;
}

.lista_datos dd {
  font-family: raleway, verdana, sans-serif;
  float: left;
  width: 30%;
  margin-bottom: 10px;
}

.actual {
  background: #f3f3f3;
  margin: 10px 25px;
  padding: 20px;
}

.actual .numero_exp {
  font-family: raleway, verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
}


#busqueda_avanzada,
#busqueda_avanzada2 {
  display: none;
}

.caja_formu {
  background-color: #f3f3f3;
  padding: 15px 15px 0 15px;
  overflow: hidden;
  margin-bottom: 8px;
}

.caja_formu button{ margin-bottom:12px;
}

@media screen and (max-width: 767px){
.table-responsive {  
    border: none;
}
}

.separa_formu {
    margin-left:10px;
}

nav .fa.fa-close {
    margin-right: 10px;
}

/* Contacto */

dl.contact{
    margin-left: 10px;
}

dl.contact dt{
  margin-top: 10px;
}

dl.contact  dd{
  margin-top: 5px;
}


.ancho80 {
  width: 80px !important;
}

.ancho_100pc {
width:100%;
}


.margen20Inf{
  margin-bottom: 20px;
}

/* Datatables */

table.table-bordered{
  background-color: #fff;
}

.table-responsive .row {
  margin: 0;
}

table.table-bordered tbody td {
  font-family: raleway, verdana, sans-serif;
  /*font-weight: bold;*/
  /*font-size: 13px;*/
  vertical-align: middle;
}

td.details-control {
  font-family: fontAwesome !important;
  font-size: 16px !important;
  text-align: center;
}

td.details-control:before {
  content: "\f067";
  color: #afafaf;
  width: 50px;
  cursor: pointer;
}

tr.shown td.details-control:before {
  content: "\f068";
  color: #000;
  width: 50px;
  cursor: pointer;
}

table td.estado, table td.anular, table td.sin_confirmar{
  text-align: center;
}

table td.anular i{
  color: #ff0000;
  font-size: 22px;
}
table td.estado i{
  font-size: 20px;
  /*color: #66cc00;*/
}

table td.estado i.anulado{
  color: #ff0000;
}


table td.sin_confirmar i{
  font-size: 20px;
  color: #000000;
}

table tr.sin_confirmar {
  font-weight: bold;
}

#tabla-crotales dl {
  font-family: raleway, arial, sans-serif;
}

.enf_check{margin-top: 0px!important;
    vertical-align: middle;
    margin-left: 10px!important;
}

#tabla-crotales dt,
#tabla-crotales dd {
  line-height: 2.2;
}

#tabla-crotales dd input {
  margin-right: 5px;
}

#tabla-crotales dd dl {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#tabla-crotales dd dl dt,
#tabla-crotales dd dl dd {
  display: inline;
  margin: 0;
  float: none;
  width: auto;
  line-height: normal;
  font-family: arial, sans-serif;
  font-size: 12px;
}

#tabla-crotales dd dl dd {
  margin-left: 2px;
  margin-right: 10px;
}

#tabla-crotales dd dl dd::before,
#tabla-crotales dd dl dd::after {
  display: none;
}

button.seleccionar {
  font-family: raleway, arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #787878;
  border: solid 2px #7f7f7f;
  border-radius: 50px;
  background: transparent;
  padding: 3px 0px 3px 10px;
}

    button.seleccionar:hover {
    border: solid 2px #333333;
    
    }


button.seleccionar::before {
  font-family: fontAwesome;
  font-size: 15px;
  margin-right: 10px;
  content: "\f1db";
  color: #9b9b9b;
}

button.seleccionar.activo {
  background-color: #1efa97;
  color: #000;
  border: none;
}

button.seleccionar.activo::before {
  content: "\f00c";
  color: #000;
}

button.seleccionar[disabled] {
  background-color: transparent;
  color: #7f7f7f;
  border: none;
}

button.seleccionar[disabled]::before {
  display: none;
}

button.seleccionar[disabled]::after {
  font-family: fontAwesome;
  font-size: 16px;
  content: "\f06a";
  color: #000;
  transform: rotate(180deg);
  margin-left: 15px;
}

button.seleccionar.noclick {
  background-color: transparent;
  color: #7f7f7f;
  border: none;
}

button.seleccionar.noclick::before {
  display: none;
}

button.seleccionar.noclick::after {
  font-family: fontAwesome;
  font-size: 16px;
  content: "\f06a";
  color: #000;
  transform: rotate(180deg);
  margin-left: 15px;
}

td select.form-control {
  font-size: 12px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  color: #000;
  background-color: #0CFF91;
  border-color: #0DFF9B;
}

.lista_crotales {
  list-style: none;
  width: 50%;
}

.lista_crotales li {
  display: inline-block;
  margin-right: 10px;
  background-color: #e4e4e4;
  padding: 5px 10px;
  margin-bottom: 5px;
}

/*autocompletes*/

.tt-menu {
    background: #FFF;
    width: 100%;
}

.tt-suggestion.tt-selectable {
    padding: 5px;
}

/*---  MEDIA QUERIES  ---*/

@media (max-width:505px) {
  .menu_general .text_xtend {
    display: none;
  }
  #comentarios {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .cambiar {
    width: 45px;
    margin-left: -10px;
    margin-right: -10px !important;
  }
  .cambiar button {
    padding-left: 999px;
  }

  .invoice {
    margin: 0;
    border: none;
    padding: 10px;
  }

  .page-header {
    margin: 10px 15px 20px 15px;
    font-size: 18px;
  }
  .content-header,
  .noticia h2 {
    margin-top: 0px;
  }
  #comentarios {
    width: 100%;
  }
  .perdida-data {
    margin-top: 0px !important;
  }
}

@media (max-width:767px) {
  .main-header .navbar-custom-menu {
    margin-top: 4px;
  }
  .main-sidebar {
    top: 108px;
  }
  button {
    margin-top: 10px;
  }
  dl.lista_datos {
    display: block;
  }
  .lista_resumen dt,
  .lista_datos dt {
    width: auto;
  }
  .lista_resumen dd,
  .lista_datos dd {
    float: none;
    margin-left: 155px;
    width: auto;
  }
  .sidebar-open .main-sidebar {
    width: 260px;
    top: 108px;
  }
  .table-responsive {
    margin-top: 10px;
    padding-top: 10px;
  }
  .cambiar {
    margin-right: 30px;
  }
  .botonera input,
  .botonera a {
    width: auto;
    padding: 5px 15px;
  }
  .area_privada {
    display: none;
  }
  .cambiar {
    margin-right: 0px;
  }
  .ficha {
    background: url(../img/lock_small.png) 5px 14px no-repeat;
    margin-top: 4px;
    min-width: 148px;
    max-width: 270px;
    float: left;
  }
  .ult_acc {
    display: none!important
  }
  #comentarios {
    width: 100%;
  }
  .parafecha {
    float:left !important;
    margin-left: 0px !important;
  }
}

@media (max-width:991px) {
  ul.pasos {
    padding-right: 25px;
  }
  ul.pasos li {
    display: none;
  }
  ul.pasos li.activo {
    background: #f3f3f3;
  }
  ul.pasos li + li {
    margin-left: 0;
  }
  ul.pasos li + li:before {
    display: none;
  }
  ul.pasos li span.pasos_total {
    margin-left: 5px;
    display: inline;
    font-weight: normal;
  }
  ul.pasos li.activo {
    display: block;
    width: 100%;
  }
  a.cancelar,
  a.finalizar {
    width: 250px;
    margin-right: 20px;
  }
  a.cancelar,
  a.finalizar {
    width: 250px;
    margin-right: 20px;
  }
  #comentarios {
    width: 100%;
  }
}

@media (min-width:991px) {
  
  #comentarios {
    width: 46em;
  }
}

.content_search {
    padding: 15px ;
    margin-right: auto;
    margin-left: auto;
    display: block;
}


.encoge 
{
        background: rgba(45, 255, 160, 0.11)!important;
    width: 2px!important;
    max-width: 2px!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    outline:none;
}

th.encoje
{
	font-size:0px;    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    min-width:80px;
}

table.dataTable thead > tr > th {
    padding-right: 30px;
}
    
#show_2
{
	background:#333;
	border-radius:15px; 
	color:#FFF;
	font-size:12px; width:15px;
}

#show_5
{
	background:#333;
	border-radius:15px; 
	color:#FFF;
	font-size:12px; width:15px;
}

#show
{
	background:#333;
	border-radius:15px; 
	color:#FFF;
	font-size:12px; width:15px;
    height:20px;
    width:20px;
    background: url(../img/column_collapse.png) no-repeat;
    margin-right:5px;
    float:left;
}

.encoge #show {
    background: url(../img/column_expand.png)  no-repeat;
    margin-right:0px;
}


.invoice 
{
    position: relative;
    background: #fff;
    border: 1px solid #eee;
    padding: 20px;
    margin: 10px 18px;
}

.encoge.sorting_asc:after {
    display:none!important;
}
.encoge.sorting_desc:after {
    display:none!important;
}
.encoge.sorting:after {
    display:none!important;
}
.t_encoge {min-width:80px;
}
.encoge .t_encoge{
display:none!important;}

.caja_formu button {
    margin-bottom: 12px;
    margin-right: 10px;
}

#name{
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
        min-width: 20px;
}

@media (max-width:480px) {

    .caja_formu button {
    margin-bottom: 12px;
    margin-right: 0px!important;
}

.invoice {
    position: relative;
    border: none!important;
    padding: 0px!important;
    margin: 0px!important;
}

.alta .invoice{
    margin-right: 13px!important;
    margin-left: 10px!important;
}

.box-body {
 
     padding: 0px!important;
}

.content {
  padding-top: 15px!important;
  }

    #tabla-crotales_wrapper .col-sm-12 {
    padding:0!important;}

    #busqueda_avanzada2 .col-sm-12 {
    padding:0!important;}

    .botonera {
    overflow: hidden;
    padding: 0px 12px;
    text-align:center;
}
    .botonera input, .botonera a {
    width: 100%!important;
    padding: 5px 15px;
    float: left!important;
    margin-top: 10px;
}
        .botonera button {
        width:100%;}

        button#buscarCrotal {
    width: 90%;
    margin-left: 5%;
}
    .content_search {
    padding-bottom:0!important}

    .boton_movil {
    
    width: 100%;
    height: 50px;
    font-size: 20px;
}

    .col-sm-12{padding-left:0!important; padding-right:0!important;}

    .caja_formu .pull-right {
    float:none!important;}

    .actual {
    background: #f3f3f3;
    margin: 10px 10px!important;
    padding: 10px!important;
    text-align: center!important;
}
    .separa_formu {
    margin-left: 0px!important;
}
    #busqueda_avanzada {
  
    margin-left: -10px!important;
    margin-right: -10px!important;
}

    dl.contact {
    margin-left: 0px!important;
}

    .form-inline .form-group label {
    width: 140px;
   
}

    ul.pasos {
    padding-right: 14px!important;
    padding-left: 10px!important;
    margin-bottom: 0px!important;
}

    .alta h2 {
    
    margin-top: 10px!important;
}
    #btnCancelar {
   
    width: 100%!important;
    float: left!important;
    }

}


@media screen and (max-width: 359px){
  .main-header .navbar-custom-menu {
  margin-right: -20px; 
  }
  .menu_general {
    margin-right: 10px !important
  }
}



/******* MODIFICACIONES DE CSS PARA LA FASE 2 **********/

.sidebar-menu .treeview-menu {
    padding-top: 5px;
}

.sidebar-menu > li > a {
    padding: 16px;
}

.sidebar-menu > li.active > a::after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    border-top: 27px solid transparent;
    border-left: 20px solid #333;
    border-bottom: 28px solid transparent;
}


	
.permiso-crotalacion h2{border-bottom:none;}
.permiso-crotalacion a{font-weight:bold; text-decoration:underline;}	
.permiso-crotalacion button {
    background: #000;
    border-radius: 0px;
    color: #FFF;
    padding: 10px 32px;
    margin-top: 20px;
}

.imagen_autocrotalacion {
    width: 90%;
    margin: 0 auto;
    max-width: 200px;
	margin-bottom: 20px;
}

.en-tramite {
    border: 2px dashed #0cff91;
    margin: 20px 10px 10px 10px;
    padding: 10px;
    font-size: 18px;
    color: #999;
}

.sol-rechazada {
    border: 2px dashed #dd4b39;
    margin: 20px 10px 10px 10px;
    padding: 10px;
    font-size: 18px;
    color: #dd4b39;
}

.sol-rechazada div {
    margin-bottom: 8px;
}

.sol-rechazada .gray-text{color:#BBB;}

.en-tramite span {color:#000; margin-left:20px;    font-weight: bold;}
.sol-rechazada span {  color: #dd4b39; font-weight: bold;}


.solicitud-ok {
    border: 2px dashed #0cff91;
    margin: 20px 10px 20px 10px;
    padding: 10px;
    font-size: 18px;
    color: #000;
    text-align: center;
    position: relative;
}

.solicitud-error {
    border: 2px dashed #dd4b39;
    margin: 20px 10px 20px 10px;
    padding: 10px;
    font-size: 18px;
    color: #dd4b39;
    text-align: center;
    position: relative;
}



.solicitud-crotales{padding:15px;}

.header-solicitud-crotales {
    border: 1px solid #eee;
	float:left;
	width:100%;
	margin-bottom: 20px;
}

.solicitud-head-icon {
    background: #eee;
    text-align: center;
    font-size: 24px;
    width: 55px;
    padding-top: 8px;
    padding-bottom: 8px;
	float:left;
}
.solicitud-head-text {
    float: left;
    width: calc(100% - 65px);
    padding-top: 10px;
}
.solicitud-head-text p {
    float: left;
    font-size: 20px;
    margin-left: 20px;
}

.solicitud-head-text p > span {font-weight:bold;}

.solicitud-head-text  button{float:right;  margin-bottom: 10px; padding-right: 10px;}

.solicitud-crotales .fa-asterisk{color:#0cff91;}

.solicitud-crotales ul {list-style-type:none; padding-left: 0; float: left;}

.solicitud-crotales ul li {
    background-image: url(../img/ul_asterisk.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position: left 4px;
    margin-bottom: 18px;
}

.solicitud-crotales-form{
    float: left;
    border-top: 1px solid #eee;
    width: 98%;
    padding: 10px;
    margin: 10px;
}

.solicitud-crotales-form label {
    font-weight:bold;
}
.solicitud-crotales-form label span{
    margin-left: 150px;
}

.solicitud-crotales-form ul#messageBox{
    -webkit-padding-start: 40px;
    margin: 0;
}

.solicitud-crotales-form ul#messageBox li{
    list-style-type: disc;
    background-image: none;
    padding-left: 0px;
}

.separa_lineas{
    margin-bottom: 10px;
    margin-top: 10px;
}

.separa_lineas span    {margin-left: 85px;}

.solicitud-crotales-form .form-control {
    width: 120px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;
}

.solicitud-crotales-form button {
    padding: 10px 20px;
    margin-top: 20px;
}


.solicitud-crotales-form .fa-calendar {
    padding-right: 35px;
}

.solicitud-crotales-form .input-group {
    margin-left: 10px;
}
.lista_crotales {
    list-style: none;
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0px;
    padding-left: 0px;
}

.shown {
    background-color: #000!important; color:#FFF!important;
}
.shown .fa-clock-o {
    color: #fff;
}

.tableguia td, .tableguia th {
  padding: 10px !important;
}


.tablepop {
    border: 1px solid #f4f4f4;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(238,238,238,0.69);
    -moz-box-shadow: 0px 0px 5px 2px rgba(238,238,238,0.69);
    box-shadow: 0px 0px 5px 2px rgba(238,238,238,0.69);
}
.tablepop td, .tablepop th {
    padding: auto !important;
}
.tablepop th {
   background-color: #333333;
   color: #FFF;
}

.popxs {
   width: 30%;
   display: none;
}
.poplg {
   width: 60%;
   display: none;
}
tr.shown td.details-control:before {
    content: "\f068";
    color: #fff;
    width: 50px;
    cursor: pointer;
}

.solicitado{}

.en_tramite{color:#FF9900;}

.enviado{color:#00D274;}

.imp_albaran {
    float: right;
    margin-top: 5px;
}

@media (max-width:1156px){

.imp_albaran{float: none;  }
}

.linea_estado_crotal {
    font-size: 14px;
    margin-top: 10px;
    font-weight: normal;
	display:inline-block;
	width: 100%;
}

.linea_estado_crotal span{font-weight:bold; margin-left:20px; margin-right:20px;}

.linea_solicitud_crotal {
    font-size: 14px;
    margin-top: 10px;
    font-weight: normal;
	display:inline-block;
	width: 26%;
}

@media (max-width: 1375px){
.linea_solicitud_crotal{width:40%;}
}
@media (max-width: 1024px){
.linea_solicitud_crotal{width:50%;}
}
.linea_solicitud_crotal span{font-weight:bold; margin-left:20px; margin-right:20px;}

.lista_crotales li {
    display: inline-block;
    margin-right: 10px;
    background-color: #e4e4e4;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.head-tabla {
    font-size: 14px;
    border-top: 1px dashed #ccc;
    padding-top: 14px;
    margin-top: 17px;
    padding-bottom: 10px;
}

.lista_perdidas {
    font-size: 16px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
       margin-top: 4px;
}

.bloque_perdida {
    border: 1px solid #feeeee;
    background: #feeeee;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 3px;
}

.fecha_perdida {
    float: left;
    width: 35%;
}

@media (max-width: 1250px){

.fecha_perdida {
    float: left;
    width: 50%;
	
}
}
@media (max-width: 900px){

.fecha_perdida {
    float: left;
    width: 100%;	
}
.doble input, .doble button {
    margin: 5px 5px 0px 0;
}
}

@media (max-width: 1060px){
.solicitud-head-text  button{
    float:left;
    margin-left: 20px;
}
}
.bloque_perdida button{float:none; margin-left:10px;}

.crotal_disabled {
    margin-right: 8px;
	    font-size: 16px;
    color: #af3030!important;
}

.crotal_disabled  .details-control:before {
    content: "\f067";
    color: #fff;
    width: 50px;
    cursor: pointer;
}

.tramite-perdida{
    color: orange;
    font-size: 16px;
    margin-right: 8px;
}

.boton_notif_perida {
    background-image: url(../img/ico_perdida.png);
    background-repeat: no-repeat;
    padding-left: 42px;
    background-position: 5px center;
}
.botones_perdida{ text-align:center;}

.bloque_perdida span{margin:0;}

.numero_crotales_disp{
    margin-top: 0px;
    border-bottom: 1px solid #eee;
    padding: 10px 15px 10px 15px;
}

.numero_crotales_disp  span{
   font-size:28px; font-weight:bold; margin-right:10px;
}

/*** estilos notificaciones ***/

table .notif-inactive{ color: #ccc;}
table .notif-inactive i{
   
    font-size: 20px;
    margin-right: 10px;
}

table .notif-active i{ color: #0CFF91;   font-size: 20px;
    margin-right: 10px;}
	
.notification-badge {
    background: #0cff91;
    position: absolute;
    top: 11px;
    left: 37px;
    text-align: center;
    font-weight: bold;
    border-radius: 100%;
    padding: 2px 5px;
    font-size: 14px;
    min-width: 25px;
    font-family: Arial;
}

.notification-numero {
    background: #0cff91;
    border-radius: 100%;
    padding: 3px 7px;
    font-family: Arial;
    font-weight: bold;
    margin-right: 5px;
}


.home-notificaciones {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
	margin-bottom:10px;
	margin-top: 10px;
}

.notif-totales{
    border-left: 1px solid #000;
    padding-left: 10px;
    margin-left: 10px;
}

a.anuncio {
    color: #333;
}
.anuncio-autocrotalacion {
    background: #ddd;
    margin-right: 24px;
    width: 30%;
    max-width: 280px;
    float: right;
}

.anuncio-autocrotalacion h3 {
    padding-left: 28%;
    font-weight: bold;
    font-size: 18px;
    background-image: url(../img/img_autocrotalacion.png);
    background-repeat: no-repeat;
    background-size: 43px;
    margin-top: 12px;
    padding-bottom: 6px;
    padding-top: 2px;
}

@media (max-width:1200px){

.anuncio-autocrotalacion {
    width: 70%;
    float: left;
    margin-top: 20px;
    margin-right: 20%;
    margin-left: 15%;
    max-width: inherit;
    padding: 10px 24px;
    text-align: left;
}

.anuncio-autocrotalacion h3 {
    padding-left: 57px;
    max-width: 305px;
}

.invoice-info {
    text-align: center;
}

}

.home-notificaciones a{
	text-decoration:underline;
    font-weight: bold;}

.notif-info {
    margin-top: 5px;
	    padding-left: 2px;
}
.notif-info  .fa-envelope {color: #0CFF91;   font-size: 16px; margin-right: 10px; margin-left:10px;}

.userinfo-notif{
    padding-left: 12px;
    color: #0cff91!important;
    margin-left: 8px!important;
    font-weight: bold!important;
    font-size: 13px!important;
    text-decoration: underline!important;
}

.notif-leida{color:#ccc!important;}

.notif-leida td{font-weight:normal!important;}

.verde {color: #0CFF91;   font-size: 16px; margin-right: 10px; margin-left:10px;}
.negro {color: #000000;   font-size: 16px; margin-right: 10px; margin-left:10px;}

/*** disable invoice box ****/

.disable-box {
    position: relative;
    background: #fff;
    border: 1px solid #eee;
    margin: 10px;
    border-left: none;
    border-right: none;
    padding-right: 0px;
    padding-left: 0px;
	margin-right: 20px;
}

.remove-button{
    background: rgb(222, 104, 104);
    color: #FFF;
	margin-right:0px;
}

.pagination>li>a, .pagination>li>span {border:none}

.content{padding-top:5px;}

.notification-data {
    padding: 2px 28px 12px 90px;
    background-image: url(../img/notif-detail-bg.png);
    background-repeat: no-repeat;
    background-position: 14px 12px;
    margin-left: -10px;
    margin-top: -10px;
    margin-right: -10px;
    border-bottom: 1px dashed #ccc;
}

.notification-data p{margin-bottom:2px;}

.notification-data h3{margin-top: 10px;}
.notification-data span{font-weight:bold;}
.notification-body {
    padding-left: 80px;
    padding-right: 90px;
    margin-top: 26px;
    margin-bottom: 26px;
}

.notification-buttons{text-align:center;}

@media (max-width:480px){
.notification-data {
    padding: 10px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 14px 12px;
    margin-left: -10px;
    margin-top: 0px;
    margin-right: 0px;
    border-bottom: 1px dashed #ccc;
}

.notification-body {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 26px;
    margin-bottom: 26px;
}

}



/***** consultas ****/

.row-query-buttons{margin-top:10px;}

.row-query-buttons button {
    font-size: 18px;
    padding: 7px 40px;
    margin: 6px 10px;
}

.query-text{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}

/*** custom radios ***/

.custom_radios {
    margin-left: 0px;
    padding-left: 0px;
    float: left;
    width: 100%;
}


.custom_radios li{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 270px;
}

.custom_radios li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.custom_radios li label{
  display: block;
  position: relative;
  padding: 0px 0px 0px 30px;
  margin: 10px auto;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  font-family: raleway!important;
      width: 100%!important;
}

.custom_radios li:hover label{
	color: #000;
}

.custom_radios li .check{
  display: block;
  position: absolute;
  border: 3px solid #AAAAAA;
  border-radius: 100%;
  height: 18px;
  width: 18px;
	top: 12px;
  left: 0px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.custom_radios li:hover .check {
  border: 3px solid #000;
}

.custom_radios li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
    height: 8px;
    width: 8px;
    top: 2px;
    left: 2px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

.custom_radios input[type=radio]:checked ~ .check {
  border: 3px solid #0DFF92;
}

.custom_radios input[type=radio]:checked ~ .check::before{
  background: #0DFF92;
}

.custom_radios input[type=radio]:checked ~ label {
    color: #000;
    font-weight: bold;
}


/****** formularios pérdidas *******/

.perdida-data {
    padding: 2px 28px 7px 130px;
    background-image: url(../img/perdida_hdpi.png);
    background-repeat: no-repeat;
    background-position: 14px 12px;
    background-size: 97px;
    margin-left: -10px;
    margin-top: -22px;
    margin-right: -10px;
    border-bottom: 1px dashed #ccc;
}

.perdida-data span {font-weight:bold;}

.perdida-buttons{text-align:center;}

.perdida-buttons button{font-size:15px;}

.notification-body textarea{
    margin: 0px;
    width: 100%;
    min-height: 200px;
    padding: 20px;
    border-radius: 4px;
	border-color:#d2d6de;
}

.fecha_perdida_input{
    width: 200px;
    margin-bottom: 14px;
    margin-top: 14px;
}



  /* Icon when the collapsible content is shown */
  a.flecha {
    color: #000000;
  }
  .flecha:after {
    font-family: "Glyphicons Halflings";
    content:"\e113";
    float: right;

  }
  /* Icon when the collapsible content is hidden */
  .flecha.collapsed:after {
    font-family: "Glyphicons Halflings";
    content:"\e114";
  }

.texto_listado {
    font-weight: normal;
}
.texto_validado{
    color: #00D274;
    font-weight: bold;
}
.texto_pendiente{
    color: #ff9900;
    font-weight: bold;
}
.texto_anulado{
    color: #999999;
    font-weight: bold;
}
.texto_error{
    color: #de6868;
    font-weight: bold;
}
.lista{
   /* background-color: #F3F3F3; */
}



dl.lista_datos_nacimientos {
    float: left;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.lista_datos_nacimientos dt {
    font-family: raleway, verdana, sans-serif;
    float: left;
    width: 14%;
    margin-bottom: 8px;
}
.lista_datos_nacimientos dd {
    font-family: raleway, verdana, sans-serif;
    float: left;
    width: 19%;
    margin-bottom: 8px;
    font-weight: normal;
}
.bot_nacimiento{
    float: left;
    margin-bottom: 8px;
}
.formu_nacimiento {
    padding: 15px 15px 0 15px;
    overflow: hidden;
    margin-bottom: 8px;
}

.align_top {
    vertical-align: top;
}

.guia {
    width: auto !important;
    font-family: raleway, arial, sans-serif !important;
}

.buscar {
    font-size: 12px !important;
    padding: 7px 15px 6px 15px;
}
.estado_text{
    font-weight: bold;
}

.guia_rechazada {
  color: #ff0000;
  /*font-weight: bold;*/
}

.guia_confirmada {
  color: #00D274;
  /*font-weight: bold;*/
}

.guia_confirmada_errores {
  color: #FF9900;
  /*font-weight: bold;*/
}

.guia_sin_confirmar {
  color: #333;
  /*font-weight: bold;*/
}

.detalle span {
  font-weight: bold;
  margin-left: 10px;
}

		 
.detalle {
  margin-bottom: 20px;
  font-size: 14px;
}

.confirmada {
  font-weight: bold;			  
}

.rechazada {
  background-color:  #ff0000;
  color: #FFFFFF;
  font-weight: bold;
}

.h2guia {
    font-family: raleway, arial, sans-serif !important;
    font-weight: normal;
    font-size: 22px;
    border-bottom: solid 1px #e5e5e5 !important;
    margin-bottom: 30px;
    margin-top: 10px !important;
}

.h3guia {
    font-size: 20px !important;
    text-transform: none !important;
    font-weight: normal !important;
    border-bottom: solid 1px #e5e5e5 !important;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.h3guia small {
    font-size: 16px !important;
}

.guia button.grande {
  font-size: 14px !important;
}

.botguia {
  position: relative;
  padding: 5px 15px 5px 10px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: none;
  border: none;
  font-size: 12px;
  box-shadow: none;
  border-radius: 0px 3px 3px 0px !important;
  background-color: #0dff9b;
  float: left;
  margin: 9px 10px 0px 0px;
}
.botguia:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #0dff9b;
  border-width: 13px;
  margin-top: -13px;
}

.botguia:hover:after {
  border-right-color: #e7e7e7;
}


.details-control2 {
  font-family: fontAwesome !important;
  font-size: 16px !important;
  text-align: center;
  cursor:pointer;
}

.font_size_large{
    font-size:large;
}

.cursor_default
{
    cursor:default;
    pointer-events: none;
}

.sidebar-menu .treeview-menu>li>a {
    white-space: normal;
}



/* HABILITAMOS FASE 2*/

.fase2 
{ 
    display:block;
}

.fase2_online 
{
     display:none;
}

.fase2_notificaciones {
     display:inline-block;
}


/**labels sobre input**/

.over_label {
    width: 100%!important;
    display: block;
}
/* HABILITAMOS FASE 1*/


/*.fase2  {
    display: none;
}

.fase2_online  {
    display: inline-block;
}

.fase2_notificaciones  {
    display:none;
}*/